body {
    margin: 0;
    background-color: #1D5D9B;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    background-color: #1D5D9B;
    align-items: center;
    margin: -25px;
}

.logo {
    background-color: transparent;
    width: 80px;
}

.left {
    display: flex;
    align-items: center;
    gap: 0px;
    color: white;
    font-size: 24px;
}

li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
}

.header ul {
    display: flex;
    gap: 30px;
    color: white;
    
}

.description {
    color: white;
    display: flex;
    padding: 40px 30px;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.description img {
    width: 500px;
    height: 350px;
    border-radius: 30px;
}

.the-word {
    color: #3882f6;
}

.center-left {
    width: 450px;
}

.center-left h1 {
    font-size: 40px;
}

.center-left p {
    font-size: 18px;
}

.signUp {
    background-color: #3882f6;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}


.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.hot {
    color: red;
}

.the-series {
    display: flex; 
    gap: 50px;
}

.recommendations h2 {
    font-size: 32px;
    font-weight: bold;
}

.recommendations img,
.recommendations p {
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
}

.quote {
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECF8F9;
    margin: 60px;
    border-radius: 40px;
    color: black;
}

.quote-text {
    width: 1100px;
}

.quote h3 {
    align-self: flex-end;
    margin-right: 30px;
    font-size: 30px;
}




